In [2]:
# Importar las librerías necesarias
import pandas as pd
import time
import random
import os
from datetime import datetime

In [20]:
#pip install lxml

Collecting lxmlNote: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution - (c:\users\carlo\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\carlo\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -tplotlib (c:\users\carlo\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\carlo\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\carlo\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -tplotlib (c:\users\carlo\appdata\local\programs\python\python310\lib\site-packages)

  Downloading lxml-4.9.3-cp310-cp310-win_amd64.whl (3.8 MB)
     ---------------------------------------- 3.8/3.8 MB 4.8 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-4.9.3

### Crear un DF con los nombre y URL de las Ligas

In [4]:
# Creamos un DF que lo conforman 2 listas

# URLs de cada una de las ligas
url = ['https://www.espn.com.co/futbol/posiciones/_/liga/esp.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/eng.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/ita.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/ger.1',
       'https://www.espn.com.co/futbol/posiciones/_/liga/fra.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/por.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/ned.1']

# Nombre de las Ligas
ligas = ['ESPAÑA', 'INGLATERRA', 'ITALIA', 'GERMANY', 'FRANCIA', 'PORTUGAL', 'HOLANDA']

# Crear el DF mediante las listas
df_ligas = {'LIGA': ligas, 'URL':url}
df_ligas = pd.DataFrame(df_ligas)
df_ligas

         LIGA                                                URL
0      ESPAÑA  https://www.espn.com.co/futbol/posiciones/_/li...
1  INGLATERRA  https://www.espn.com.co/futbol/posiciones/_/li...
2      ITALIA  https://www.espn.com.co/futbol/posiciones/_/li...
3     GERMANY  https://www.espn.com.co/futbol/posiciones/_/li...
4     FRANCIA  https://www.espn.com.co/futbol/posiciones/_/li...
5    PORTUGAL  https://www.espn.com.co/futbol/posiciones/_/li...
6     HOLANDA  https://www.espn.com.co/futbol/posiciones/_/li...

In [31]:
df_ligas.to_csv("../data/ligas_url.csv", index=False)

### Extraer los equipos de las URL

In [18]:
# Mostrar la URL del DF en la posición 1
df_ligas['URL'][2]

'https://www.espn.com.co/futbol/posiciones/_/liga/ita.1'

In [19]:
# Extraer información de Tablas de una pag web
df_urls = pd.read_html(df_ligas['URL'][2])
df_urls

[             2023-2024
 0         1ATAAtalanta
 1          2BOLBolonia
 2         3CAGCagliari
 3           4EMPEmpoli
 4       5FIOFiorentina
 5        6FROFrosinone
 6           7GENGénova
 7   8INTInternazionale
 8         9JUVJuventus
 9           10LAZLazio
 10          11LECLecce
 11       12MILAC Milan
 12          13MONMonza
 13         14NAPNapoli
 14        15ROMAS Roma
 15    16SALSalernitana
 16       17SASSassuolo
 17         18TORTorino
 18        19UDIUdinese
 19  20HELHellas Verona,
     J  G  E  P  GF  GC  DIF  PTS
 0   0  0  0  0   0   0    0    0
 1   0  0  0  0   0   0    0    0
 2   0  0  0  0   0   0    0    0
 3   0  0  0  0   0   0    0    0
 4   0  0  0  0   0   0    0    0
 5   0  0  0  0   0   0    0    0
 6   0  0  0  0   0   0    0    0
 7   0  0  0  0   0   0    0    0
 8   0  0  0  0   0   0    0    0
 9   0  0  0  0   0   0    0    0
 10  0  0  0  0   0   0    0    0
 11  0  0  0  0   0   0    0    0
 12  0  0  0  0   0   0    0    0
 13  0  0  0  0   0   0    0    0
 14  0  0  0  0   0   0    0    0
 15  0  0  0  0   0   0    0    0
 16  0  0  0  0   0   0    0    0
 17  0  0  0  0   0   0    0    0
 18  0  0  0  0   0   0    0    0
 19  0  0  0  0   0   0    0    0]

In [20]:
# Verificar cuantos datos nos trajo la tabla
len(df_urls)

2

In [21]:
# Concatenamos ambos valores
df_ligas_futbol = pd.concat([df_urls[0], df_urls[1]], ignore_index=True, axis=1)
df_ligas_futbol

                     0  1  2  3  4  5  6  7  8
0         1ATAAtalanta  0  0  0  0  0  0  0  0
1          2BOLBolonia  0  0  0  0  0  0  0  0
2         3CAGCagliari  0  0  0  0  0  0  0  0
3           4EMPEmpoli  0  0  0  0  0  0  0  0
4       5FIOFiorentina  0  0  0  0  0  0  0  0
5        6FROFrosinone  0  0  0  0  0  0  0  0
6           7GENGénova  0  0  0  0  0  0  0  0
7   8INTInternazionale  0  0  0  0  0  0  0  0
8         9JUVJuventus  0  0  0  0  0  0  0  0
9           10LAZLazio  0  0  0  0  0  0  0  0
10          11LECLecce  0  0  0  0  0  0  0  0
11       12MILAC Milan  0  0  0  0  0  0  0  0
12          13MONMonza  0  0  0  0  0  0  0  0
13         14NAPNapoli  0  0  0  0  0  0  0  0
14        15ROMAS Roma  0  0  0  0  0  0  0  0
15    16SALSalernitana  0  0  0  0  0  0  0  0
16       17SASSassuolo  0  0  0  0  0  0  0  0
17         18TORTorino  0  0  0  0  0  0  0  0
18        19UDIUdinese  0  0  0  0  0  0  0  0
19  20HELHellas Verona  0  0  0  0  0  0  0  0

In [22]:
# Renombrar las columnas
columns={0:'EQUIPO', 1:'J', 2:'G', 3:'E', 4:'P', 5:'GF', 6:'GC', 7:'DIF', 8:'PTS'}
df_ligas_futbol=df_ligas_futbol.rename(columns=columns)

In [23]:
# Limpiar la columna de EQUIPO
df_ligas_futbol['EQUIPO'] = df_ligas_futbol['EQUIPO'].apply(lambda x: x[5:] if x[:2].isnumeric()==True else x[4:])
df_ligas_futbol['LIGA']= df_ligas['LIGA'][2]
df_ligas_futbol

            EQUIPO  J  G  E  P  GF  GC  DIF  PTS    LIGA
0         Atalanta  0  0  0  0   0   0    0    0  ITALIA
1          Bolonia  0  0  0  0   0   0    0    0  ITALIA
2         Cagliari  0  0  0  0   0   0    0    0  ITALIA
3           Empoli  0  0  0  0   0   0    0    0  ITALIA
4       Fiorentina  0  0  0  0   0   0    0    0  ITALIA
5        Frosinone  0  0  0  0   0   0    0    0  ITALIA
6           Génova  0  0  0  0   0   0    0    0  ITALIA
7   Internazionale  0  0  0  0   0   0    0    0  ITALIA
8         Juventus  0  0  0  0   0   0    0    0  ITALIA
9            Lazio  0  0  0  0   0   0    0    0  ITALIA
10           Lecce  0  0  0  0   0   0    0    0  ITALIA
11        AC Milan  0  0  0  0   0   0    0    0  ITALIA
12           Monza  0  0  0  0   0   0    0    0  ITALIA
13          Napoli  0  0  0  0   0   0    0    0  ITALIA
14         AS Roma  0  0  0  0   0   0    0    0  ITALIA
15     Salernitana  0  0  0  0   0   0    0    0  ITALIA
16        Sassuolo  0  0  0  0   0   0    0    0  ITALIA
17          Torino  0  0  0  0   0   0    0    0  ITALIA
18         Udinese  0  0  0  0   0   0    0    0  ITALIA
19   Hellas Verona  0  0  0  0   0   0    0    0  ITALIA

### Generar DF con todos los equipos y un ID único

In [11]:
df_urls = pd.read_html(df_ligas['URL'][0])
df = pd.concat([df_urls[0], df_urls[1]], ignore_index=True, axis=1)
columns={0:'EQUIPO', 1:'J', 2:'G', 3:'E', 4:'P', 5:'GF', 6:'GC', 7:'DIF', 8:'PTS'}
df=df.rename(columns=columns)
df['EQUIPO'] = df['EQUIPO'].apply(lambda x: x[5:] if x[:2].isnumeric()==True else x[4:])
df['ID_TEAM'] = [str(random.randint(1000, 9999)) for _ in range(len(df))]
df_selected = df[['EQUIPO', 'ID_TEAM']]
df_selected

             EQUIPO ID_TEAM
0         vésAlavés    6856
1           Almería    2912
2     Athletic Club    9650
3   Atlético Madrid    3694
4         Barcelona    6590
5        Celta Vigo    8663
6             Cádiz    8512
7            Getafe    8803
8            Girona    8816
9           Granada    2137
10       Las Palmas    7036
11         Mallorca    9689
12          Osasuna    5129
13   Rayo Vallecano    2272
14       Real Betis    2726
15      Real Madrid    2936
16    Real Sociedad    2010
17       Sevilla FC    1223
18         Valencia    8218
19       Villarreal    8506

In [33]:
def extract_data_ligas(url,liga):
    tiempo = [1,3,2] # controlar el tiempo de espera de las solicitudes
    time.sleep(random.choice(tiempo)) # simular una carga más realista en el servidor web y a evitar el bloqueo o la detección de web scraping.
    df_ligas = pd.read_html(url) # leer las tablas HTML de la pag web
    df_ligas=pd.concat([df_ligas[0],df_ligas[1]],ignore_index=True,axis=1) # contanenar los valores
    df_ligas=df_ligas.rename(columns={0:'EQUIPO',1:'J', 2:'G', 3:'E', 4:'P', 5:'GF', 6:'GC', 7:'DIF', 8:'PTS'}) # renombrar los nombres de las columnas
    df_ligas['EQUIPO']=df_ligas['EQUIPO'].apply(lambda x: x[5:] if x[:2].isnumeric()==True else x[4:]) # aplica la limpieza en la columna EQUIPO
    df_ligas['LIGA'] = liga # agregar nueva columna LIGA
    df_ligas['ID_TEAM'] = [str(random.randint(1000, 9999)) for _ in range(len(df_ligas))]
    now_date = datetime.now() # obtener fecha y hora actual
    run_date = now_date.strftime("%Y-%m-%d") # formatear la fecha
    df_ligas['CREATED_AT'] = run_date # crea la nueva columna
    return df_ligas

def data_processing():
    # obtener la data de las 7 ligas
    df_ligas=pd.read_csv("../data/ligas_url.csv")
    df_spain=extract_data_ligas(df_ligas['URL'][0],df_ligas['LIGA'][0])
    df_premier=extract_data_ligas(df_ligas['URL'][1],df_ligas['LIGA'][1])
    df_italy=extract_data_ligas(df_ligas['URL'][2],df_ligas['LIGA'][2])
    df_germany=extract_data_ligas(df_ligas['URL'][3],df_ligas['LIGA'][3])
    df_francia=extract_data_ligas(df_ligas['URL'][4],df_ligas['LIGA'][4])
    df_portugal=extract_data_ligas(df_ligas['URL'][5],df_ligas['LIGA'][5])
    df_holanda=extract_data_ligas(df_ligas['URL'][6],df_ligas['LIGA'][6])

    # Concatenar todas las ligas
    df_all=pd.concat([df_spain,df_premier,df_italy,df_francia,df_portugal,df_holanda],ignore_index=False)
    return df_all

In [34]:
df_data = data_processing()
df_data = df_data[['ID_TEAM','EQUIPO', 'J', 'G', 'E', 'P', 'GF', 'GC', 'DIF', 'PTS', 'LIGA','CREATED_AT']]
df_data.to_csv('./equipos.csv',index=False)